.order-history-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.order-list {
  list-style-type: none;
  padding: 0;
}

.order-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.order-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.order-item p {
  margin: 5px 0;
}

.order-item > div {
  margin-top: 10px;
}

.order-item ul {
  list-style-type: none;
  padding: 0;
}

.order-item ul li {
  margin-bottom: 5px;
}

.order-item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-item-actions button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-item-actions button:hover {
  background-color: #0056b3;
}
.success-message {
  font-size: 1.2em;
  color: red;
  margin-bottom: 10px;
}
