@use "sass:map";
@import url(/src/style/pages/_theme.scss);

.header_top{
    background: #e8eeed;
}

.header_top_left{
    ul{
        display: flex;
        align-items: flex-end;
        padding: 10px 0 13px;
        list-style: none;
        column-gap: 20px;
        
        li{
            font-size: 14px;
            color: #1c1c1c;
            display:flex ;
            align-items: center;
            column-gap: 5px;
        }
        li:first-child{
            position: relative;
            &::after{
                position: absolute;
                right: -10px;
                top: 1px;
                height: 100px;
                width: 1px;
                color: #111010;
                opacity: 1.0;
                content: "|";
            }
        }
    
    }
    

}

.header_top_right{
    background: #e8eeed;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0 13px;
    ul{
        display: flex;
        column-gap: 10px;
        list-style: none;
        a{
            font-size: 14px;
            display: block;
            // color: map.get($theme-colors , "main");
            color: #1c1c1c;
        }
        li:last-child{
            cursor: pointer;
            margin-left: 20px;
            span{
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }

}